@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
body{font-family: 'Open Sans', sans-serif;}


@media screen and (min-width:1520px){
  .container{
    max-width:1415px;
    margin: 0 auto;
  }
}
h1, .h1{font-size: 56px;}
h2, .h2{font-size: 40px;}
h3, .h3{font-size: 32px;}
h4, .h4{font-size: 24px;}
h5, .h5{font-size: 18px;}
.font-20{font-size: 20px;}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
